.navbar{
    background-color: black;
}
.background {

position: absolute;

display: block;

top: 0;

left: 0;

z-index: -10;
}
body {
   display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color:black;
}
#id_Content{
    width:100%;
}